<!-- grid__item--mobile-up-12 grid__item--mobile-up-offset-1 grid__item--tablet-up-5 grid__item--desktop-up-3 -->
<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            <div class="col col-md-6 col-lg">
                <mat-card class="bg-white">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color">
                            <h1 class="heading--3">
                                Start ups
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 class="heading--5 text-light">
                                Ideal para emprendedores
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list>
                            <mat-list-item>
                                <p>Creación de logotipo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Análisis de marca</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Tipografías</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Manual de uso</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Archivos en diferentes formatos</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Manual de marca</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Tarjetas corporativas</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Identidad visual</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotizar ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col col-md-12 col-lg">
                <div class="space-30 d-none d-md-block d-lg-none"></div>
                <div class="space-30 d-md-none"></div>
                <mat-card class="price--theme-deep-indigo">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color2">
                            <h1 class="heading--3">
                                Corporativo
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 style="color: white" class="heading--5 text-light">
                                Ideal para empresas
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider style="border-color: white !important" class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list class="price-gradient">
                            <mat-list-item>
                                <p>Creación de logotipo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Análisis de marca</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Tipografías</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Manual de uso</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Archivos en diferentes formatos</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Manual de marca</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Tarjetas corporativas</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Identidad visual</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotizar ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>